@import url("https://api.fontshare.com[]=satoshi@700,500,400&display=swap");
h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: auto;
  color: rgb(224, 224, 224);
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 3%;
  color: rgb(224, 224, 224);
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 3%;
  color: rgb(137, 137, 137);
}

span {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 3%;
  color: rgb(137, 137, 137);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul,
* li {
  display: inline-block;
  list-style: none;
}
* button {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
* span {
  display: inline-block;
}
* a,
* a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
* a:focus,
* a:active {
  outline: none;
}
* img {
  display: block;
  max-width: 100%;
  height: auto;
}
* *,
* *::before,
* *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 179.1rem;
  margin-inline: auto;
  font-size: 1.4rem;
  font-family: "Satoshi", sans-serif;
  line-height: 1.5;
  background-color: rgb(6, 6, 6);
  color: rgb(137, 137, 137);
}

body,
html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.player-btn__primary {
  width: 3.8rem;
  height: 3.8rem;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(39, 126, 69);
  transition: all 0.3s ease;
}
.player-btn__primary .player-btn__icon {
  display: none;
}

.player-btn__primary:hover {
  opacity: 1;
  background-color: rgb(30, 215, 96);
}

.player-btn__primary:hover .player-btn__icon {
  display: inline-block;
  filter: brightness(0.65);
  transform: scale(1.1);
}

.player-btn:hover {
  filter: brightness(0) invert(1) contrast(2) drop-shadow(0 0 1.5px rgb(251, 249, 249));
}

.main-content-navigation {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}
.main-content-navigation ul {
  display: flex;
  gap: 1rem;
}
.main-content-navigation ul span {
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  transition: 0.2s ease-in-out;
}
.main-content-navigation ul span:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(29, 29, 29);
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
  transition: background-color 0.2s ease-in-out;
}
.nav-link__icon {
  transition: filter 0.2s ease-in-out;
}
.nav-link__label {
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  transition: color 0.2s ease-in-out;
}
.nav-link:hover {
  background-color: rgb(29, 29, 29);
}
.nav-link:hover .nav-link__label {
  color: rgb(224, 224, 224);
}
.nav-link:hover .nav-link__icon {
  filter: brightness(0) invert(1) contrast(2) drop-shadow(0 0 1.5px rgb(251, 249, 249));
}

.card {
  width: 17rem;
  height: 25.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.card figcaption {
  padding: 0.5rem;
  margin-top: 0.4rem;
}
.card span {
  margin-left: 3rem;
}

.card:nth-child(2n+1) span {
  color: rgb(221, 19, 139);
}

.card:nth-child(3n+1) span {
  color: rgb(39, 133, 107);
}

.card-badge__items {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card-badge__label {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-badge__label::before {
  display: inline-block;
  content: "";
  width: 3rem;
  height: 3rem;
  background-image: url(../../assets/icons/iconsIIbig.svg);
}

.main-header__navigation {
  width: 100%;
  height: 5.4rem;
  background-color: rgb(6, 6, 6);
  display: flex;
  justify-content: space-between;
  border: 0.1rem solid rgb(32, 32, 32);
  border-radius: 1rem;
}

.main-header__nav-bar {
  width: 55%;
  height: 100%;
}
.main-header__nav-bar ul {
  display: flex;
  justify-items: center;
  align-items: center;
}
.main-header__nav-bar ul li {
  flex: 0.5 0.5 auto;
}

.main-header__user-controls {
  width: 45%;
  height: 100%;
}
.main-header__user-controls ul {
  display: flex;
  justify-items: center;
  align-items: center;
}
.main-header__user-controls ul li {
  flex: 0 0 auto;
}
.main-header__user-controls ul {
  justify-content: flex-end;
  gap: 1rem;
}

.sidebar {
  height: 100vh;
  border: 0.1rem solid rgb(32, 32, 32);
  border-radius: 1rem;
}

.sidebar-nav__menu {
  padding: 0 1rem;
}
.sidebar-nav__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.sidebar-nav__menu ul li {
  height: 4rem;
}

.sidebar__pins-nav-link {
  display: flex;
  justify-content: space-between;
}

.main-content {
  padding: 1rem;
  border: 0.1rem solid rgb(32, 32, 32);
  border-radius: 1rem;
}

.main-content-wrapper {
  max-height: 86.9rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.section-title {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.main-content__cards-container {
  max-height: 31rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.home-page .main-app__container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 25.9rem 1fr 35.8rem;
  grid-template-rows: 5.4rem 1fr 8.1rem;
  grid-template-areas: "sidebar  header header" "sidebar  main article" "sidebar footer footer";
}
.home-page .main-header {
  grid-area: header;
}
.home-page .sidebar {
  grid-area: sidebar;
}
.home-page .main-content {
  grid-area: main;
}
.home-page .main-article {
  grid-area: article;
}
.home-page .footer-player-bar {
  grid-area: footer;
}

.main-article {
  padding: 2rem;
  border: 0.1rem solid rgb(32, 32, 32);
  border-radius: 1rem;
}

.main-article__title {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-article__title ul {
  display: flex;
}

.bottom-player {
  width: 79%;
  position: fixed;
  bottom: 0;
  right: 7rem;
  z-index: 50;
}

.bottom-player__container {
  width: 100%;
  height: 8.1rem;
  display: flex;
  justify-content: space-between;
  border: 0.2rem solid rgb(6, 6, 6);
  border-radius: 1rem;
  background-color: rgb(51, 56, 66);
  padding: 2rem;
}

.player-links,
.player-controls {
  display: flex;
  align-items: center;
}

.search-page .main-app__container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 25.9rem 1fr 1fr;
  grid-template-rows: 5.4rem 1fr 9rem;
  grid-template-areas: "sidebar header header " "sidebar  main   main " "sidebar footer  footer ";
}
.search-page .main-header {
  grid-area: header;
}
.search-page .sidebar {
  grid-area: sidebar;
}
.search-page .main-content {
  grid-area: main;
}
.search-page .bottom-player {
  grid-area: footer;
}

.main-page .main-app__container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 25.9rem 1fr 1fr;
  grid-template-rows: 5.4rem 1fr 9rem;
  grid-template-areas: "sidebar header header " "sidebar  main   main " "sidebar footer  footer ";
}
.main-page .main-header {
  grid-area: header;
}
.main-page .sidebar {
  grid-area: sidebar;
}
.main-page .main-content {
  grid-area: main;
}
.main-page .bottom-player {
  grid-area: footer;
}