@use "./abstracts/variables" as var;
@use "./base/typography";
@use "./base/reset";
@use "./abstracts/mixins" as m;
@use "./components/buttons";
@use "./components/cards";
@use "./layout/header";
@use "./layout/sidebar";
@use "./layout/home";
@use "./layout/footer";
@use "./layout/search";



.main-page {

    .main-header_container {
        width: 100%;
        height: 100%;
        padding: 1rem;

        display: grid;
        grid-template-columns: 25.9rem 1fr 1fr;
        grid-template-rows: 5.4rem 1fr 9rem;
        grid-template-areas:
            "header  header header "
            "sidebar  main   main "
            "sidebar footer  footer ";
    }

    .main-header {
        grid-area: header;
        
    }

    .sidebar {
        grid-area: sidebar;

    }

    .main-content {
        grid-area: main;

    }

    .footer-player-bar {
        grid-area: footer;

    }
}

.main-content {
    padding: 1rem;
    border: 0.1rem solid var.$border-color;
     border-radius:1rem ;
}

.main-content-menu {
  padding: 0  1.5rem;
    display: flex;
    justify-content: space-between;

    ul {

        display: flex;
        gap: 1rem;

        span {
            padding: 0.8rem 1.5rem;
            border-radius: 0.8rem;
            transition: 0.2s ease-in-out;

            &:hover {
                background-color: var.$font-activ;
                color: var.$bg-btn-praymer;
            }
        }

    }

}


