@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as m;
@use "../components/buttons" as bt;
@use "../abstracts/nav-link" as nav;
@use "../base/typography";
@use "../components/cards";


.main-content {
    padding: 1rem;
    @include m.page-border;
}


.main-content-wrapper {
    max-height: 86.9rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.section-title {
    width: 100%;
    padding: 1rem;
    @include m.flex-between;
}

.main-content__cards-container {
    max-height: 31rem;
    @include m.grid-fill;
}
