$fs-hero: rgba(224, 224, 224, 1);
$bg-base: rgba(6, 6, 6, 1);
$bg-play-icon:rgba(30, 215, 96, 1);
$bg-play-res:rgb(39, 126, 69);
$Fg-secondary:rgba(51, 56, 66, 1);
$text-primary:rgba(137, 137, 137, 1);
$font-activ:rgba(224, 224, 224, 1);
 $hover-color:rgb(251, 249, 249);
 $bg-btn-praymer:rgba(17, 17, 17, 1);
 $border-color:rgba(32, 32, 32, 1)

