$fs-hero: rgb(223, 220, 220);
$font-activ: rgba(224, 224, 224, 1);
$hover-color: rgb(251, 249, 249);
$text-primary: rgba(137, 137, 137, 1);

$bg-play-icon: rgba(30, 215, 96, 1);
$bg-play-res: rgb(39, 126, 69);
$bg-sticker: rgba(39, 133, 107, 1);


$bg-sticker-err: rgba(221, 19, 139, 1);


$bg-base: rgba(6, 6, 6, 1);
$bg-btn-praymer: rgb(29, 29, 29);
$border-color: rgba(32, 32, 32, 1);
$bg-table-row: rgba(42, 42, 42, 1);
$bg-sd-bar-activ: rgb(14, 13, 13);
$bg-image-sticker: rgba(17, 17, 17, 1);
$Fg-secondary: rgba(51, 56, 66, 1);
$bg-blar:rgba(32, 32, 32, 1);

$bg-play-card-bl: rgba(30, 50, 100, 1);
$bg-play-card-or: rgba(186, 93, 7, 1);
$bg-play-card-fl: rgba(141, 103, 171, 1);
$bg-play-card-a: rgba(176, 40, 151, 1);
$bg-play-card-b: rgba(119, 119, 119, 1);
$bg-play-card-c: rgba(20, 138, 8, 1);
$bg-play-card-d: rgba(216, 64, 0, 1);
$bg-play-card-e: rgba(80, 55, 80, 1);
$bg-play-card-f: rgba(0, 100, 80, 1);
$bg-play-card-g: rgba(233, 20, 41, 1);
$bg-play-card-h: rgba(83, 122, 161, 1);
